*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(images/blue.jpg);
  background-repeat: no-repeat;
  background-size: cover;
opacity: 0.9;
}


.navbar-nav a{
  text-decoration: none;
color: white;
font-size: 15px;
padding-right: 10px;
padding-left: 10px;
padding: 14px 16px;
}

.navbar-nav a:hover {
background-color: rgba(59, 83, 190, 0.589);
color: black;
}

.navbar-nav a.active {
background-color: #12833ec7;
color: white;

}





footer {
background-color: rgba(0, 0, 0, 0.541);
text-align: center;
color: white;
width: 100%;
  }

.credits, a {
color: white;
}

